---
layout: default
title: Poster, Leinwände & Postkarten
pop-up: true
seo:
  title: Poster, Leinwande & Postkarten | Heidi Ulrich Fotografie
  description: >-
    Ich bin Heidi Ulrich, passionierte Naturfotografin und ich verkaufe meine
    Bilder als Wandbilder wie Poster, Leinwand, als Fotogeschenke und
    Postkarten.
  social_image:
  twitter_card:
  keywords: >-
    4000er Berge Fotografien, Naturfotografie, Landschaftsbilder, Naturbilder,
    Magische Bilder, 4000er Momenter, Landschaftsfotografie, Magische
    Augenblicke, Schönheit der Natur, Naturwunder, Fotogeschenke
  hide-from-google: false
popup-gallery: true
gallery-background: bg-white
gallery:
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 0
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /images/placeholder.png
    background_image: /images/placeholder.png
    bildnummer: 999
  - pop-up-background_image: /uploads/heidiulrich-fotografie-101.jpg
    background_image: /uploads/heidiurlich-fotografie-101-sm.jpg
    bildnummer: 999
  - pop-up-background_image: ''
    background_image: ''
    bildnummer: 0
---
<section class="padded bg-light text-white capped-width margin-t-2 xs-margin-t-0 center">
  <div class="editable">
      <h3> Ich hatte einen Unfall und kann somit vorübergehend keine Produkte versenden. Daher ist momentan die Bestellung nur auf Abholung in 6440 Brunnen möglich.</h3>
  </div>
</section>

<section class="capped-width">
    <div class="grid">
        <div class="col-12 padded padded-b-0 editable text-lila">
            <h2> Poster, Leinwände, Postkarten </h2>
            <p class="emphasis"> Wie funktionierts? </p>
            <ol style="margin-left: 2rem;">
                <li>
                    <p> Format aussuchen </p>
                </li>
                <li>
                    <p> Bild aussuchen </p>
                </li>
                <li>
                    <p> Screenshot machen vom Bild, das du bestellen möchtest </p>
                </li>
                <li>
                    <p> Format und Bild mit Bildnummer in Bestellformular schreiben, Mengenangabe angeben und Screenshot hinzufügen</p>
                </li>
                <li>
                    <p> Bestellen, juhuuuu :) </p>
                </li>
                <li>
                    <p> Betrag an +41 79 733 09 36 per TWINT bezahlen. (Wenn du kein TWINT hast kannst du mich einfach kontaktieren.)</p>
                </li>
            </ol><br />
            <p> <em> Wenn du ein anderes Format bestellen möchtest oder ein Bild digital verwenden möchtest kannst du mich einfach kontaktieren. :) </em> </p>
            <p> <em> Bei Abholung in 6440 Brunnen fallen die Versandkosten weg. </em> </p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h2> Formate </h2>
            <h3> Digital </h3>
            <p>&nbsp;1&nbsp; Foto - Fr. 3.90 </p>
            <p> 10 Fotos - Fr. 29.00</p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h3> Leinwand mit Rand umschlagen </h3>
            <p> 60 x&nbsp; 45cm - Fr. 149.00 </p>
            <p> 60 x&nbsp; 80cm - Fr. 169.00 </p>
            <p> 75 x 100cm - Fr. 259.00 </p>
            <p class="italic"> Zubehör + Fr. 5.95, Versand + Fr. 20.50 Standard-Versand | Lieferfrist ca. 14 Tage </p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h3> Poster ohne Laminat </h3>
            <p> 40&nbsp; x 50cm - Fr.&nbsp; 69.00 </p>
            <p> 50&nbsp; x 70cm - Fr.&nbsp; 89.00 </p>
            <p> 100 x 80cm - Fr. 119.00 </p>
            <p class="italic"> Versand + Fr. 8.50 Standard-Versand | Lieferfrist ca. 14 Tage </p>
        </div>
        <div class="col-12 padded padded-b-0 left text-lila editable">
            <h3> Poster Laminiert glänzend / Laminiert matt</h3>
            <p>&nbsp;40 x 50cm - Fr.&nbsp; 79.00 </p>
            <p>&nbsp;50 x 70cm - Fr.&nbsp; 99.00 </p>
            <p> 100 x 80cm - Fr. 149.00 </p>
            <p class="italic"> Versand + Fr. 8.50 Standard-Versand | Lieferfrist ca. 14 Tage </p>
        </div>
        <div class="col-12 padded left text-lila editable">
            <h3> Postkarte </h3>
            <p> Fotokarte A6&nbsp; 1 Stück -&nbsp; Fr. 4.90</p>
            <p>Fotokarte A6 10 Stück - Fr. 39.00</p>
            <p> </p>
            <p class="italic"> Lieferfrist: 7 bis 10 Arbeitstage </p>
        </div>
    </div>
</section>


{% if page.popup-gallery == true %}


<section class="padded {{page.gallery-background}}">
    <div class="portfolio" id="lightgallery">

        {% for item in page.gallery %}

        <a class="gallery-container" href="{{item.pop-up-background_image}}" data-sub-html="<h4> {{item.bildnummer}} </h4>"> 
            <img src="{{item.background_image}}" />
            <p> {{ item.bildnummer }} </p>
        </a>

        {% endfor %}

    </div>
</section>

{% else %}

 <!------------------------------- standard Responsive Image Gallery -------------------------------->

 <section class="padded {{page.gallery-background}}">
    <h2 class="center"> Standard Gallery </h2>
    <div class="portfolio">

        {% for item in page.gallery %}
        <div class="{{item.column-size}}"> 
             <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endif %}


<section class="padded capped-width-v-narrow">
    <div class="center editable text-lila">
        <h2 class="margin-b-2"> Bestellformular </h2>
    </div>
    <form class="margin-t-2" action="#" method="POST">
        <label for="_vorname"> Vorname </label>
        <input type="text" name="_vorname" id="_vorname" />

        <label for="_nachname"> Nachname </label>
        <input type="text" name="_nachname" id="_nachname" />

        <label for="_adresse"> Strasse, Nr. </label>
        <input type="text" name="_adresse" id="_adresse" />

        <label for="_wohnort"> PLZ, Wohnort </label>
        <input type="text" name="_wohnort" id="_wohnort" />

        <label for="_replyto"> Email </label>
        <input type="email" name="_replyto" id="_replyto" placeholder="" />

        <label for="phone"> Telefonnummer </label>
        <input type="tel" id="phone" name="phone" pattern="+[0-9]{2}-[0-9]{2}-[0-9]{3}-[0-9]{4}" placeholder="" />
        
        <label for="files">Screenshots</label>
        <input type="file" id="files" name="files" multiple />

        <label for="message"> Bestellung?</label>
        <textarea name="message" id="message" placeholder="1x Poster Laminiert glänzend - 50 x 70cm - Fr. 99.00 - BILD #999"></textarea>
   
        <button type="submit" class="button"> Abschicken </button>

    </form>

</section>