
<section>
  <header class="grid-middle capped-width">
    <div class="col-3_sm-6">
      <div>
        <a href="/" class="logo"> <img data-src="/icons/heidi-ulrich-fotografie-logo.svg" class="header-logo lazy"> </a>
      </div>
    </div> 
    <nav class="col-9 hide-sm right">
      <div class="link-box-over">
        <div class="link-box">
          <a href="/"> Start </a>
          <div class="link-underline"></div>
        </div>
      </div>
      <div class="link-box-over">
        <div class="link-box">
          <a href="/ueber-mich.html"> Über mich </a>
          <div class="link-underline"></div>
        </div>
      </div>
      <div class="link-box-over">
        <div class="link-box">
          <a href="/shop.html"> Shop </a>
          <div class="link-underline"></div>
        </div>
      </div>
      <div class="link-box-over">
        <div class="link-box">
          <a href="/kontakt.html"> Kontakt </a>
          <div class="link-underline"></div>
        </div>
      </div>
    </nav> 
    <div class="col-6 right show-sm">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img src="/icons/heidi-ulrich-fotografie-logo-weiss.svg">
  </div>
  <nav class="mobile-menu-nav"> 
        <a href="/"> Start </a>
        <a href="/ueber-mich.html"> Über mich </a>
        <a href="/shop.html"> Shop </a>
        <a href="/kontakt.html"> Kontakt </a>
  </nav>
  <div class="block">
    <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
  </div>
</div> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 