<section class="bg-light text-white">
  <footer class="capped-width grid">
    <nav class="col-6 left">
      <a href="/index"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <a href="/shop.html"> Shop</a>
      <a href="/kontakt"> Kontakt </a>
    </nav>
    <div class="col-6-right right">
      <div class="block">
        <a href="mailto:heidiulrich@bluewin.ch" class="email-footer"> heidiulrich@bluewin.ch </a>
      </div>
      <div class="block">
        <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
      </div>
      <div class="block">
        <a href="/impressum" class="sub-links"> Impressum </a>
      </div>
      <div class="block">
        <a href="/datenschutz" class="sub-links"> Datenschutz </a>
      </div>


  
        <p class="pajurama"> Web Design & Grafikdesign von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/icons/pajurama-logo-white.svg" class="pajurama-logo"> </a> </p>
    </div>
    <div class="col-12-bottom center text-white">
      <p class="copyright"> ©Heidi Ulrich Fotografie 2024 </p>
      <h1 class="h1-custom-2"> Heidi Ulrich Fotografie </h1>
   </div>
  </footer>

</section>
  